LOCATE COMP "clk" SITE "M1";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "uo_out[0]" SITE "T7";
IOBUF PORT "uo_out[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "uo_out[1]" SITE "M16";
IOBUF PORT "uo_out[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "uo_out[2]" SITE "L16";
IOBUF PORT "uo_out[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "uo_out[3]" SITE "K16";
IOBUF PORT "uo_out[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "uo_out[4]" SITE "J16";
IOBUF PORT "uo_out[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "uo_out[5]" SITE "G16";
IOBUF PORT "uo_out[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "uo_out[6]" SITE "F16";
IOBUF PORT "uo_out[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "uo_out[7]" SITE "E16";
IOBUF PORT "uo_out[7]" IO_TYPE=LVCMOS33;
